.posts-page-container {
  overflow: hidden;
  background-color: #f0f0f0;

  .posts-section {
    padding: $spacer $gutter;

    #posts-response {
      @include transition();

      &.loading {
        opacity: 0;
      }
    }

    .posts {
      .post {
        display: grid;
        grid-template-columns: 40% 1fr;
        border-radius: 20px;
        background-color: #fff;
        overflow: hidden;

        @media screen and (max-width: 768px) {
          grid-template-columns: 1fr;
          text-align: center;
        }
        &:not(:last-child) {
          margin-bottom: calc(#{$gutter} / 2);
        }
        & > * {
          justify-self: center;
          align-self: center;
        }

        &:nth-child(2n) {
          grid-template-columns: 1fr 40%;
          @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
          }
          .post-image {
            order: 1;

            @media screen and (max-width: 768px) {
              order: -1;
            }
          }
        }
        &-image {
          width: 100%;
          aspect-ratio: 1.2;
          display: flex;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        &-info {
          &-holder {
            padding: $gutter;
          }
        }

        &-title {
          margin-bottom: 0.5rem;
          @include title-4();
        }

        &-excerpt {
          @include text-2();
          margin-bottom: 2rem;
        }

        .site-button {
          background-color: $green;
          &:hover {
            background-color: $dark-blue;
          }
        }
      }

      // .post {
      //   border-radius: 15px;
      //   overflow: hidden;
      //   display: flex;
      //   flex-wrap: wrap;
      //   width: 100%;
      //   background-color: #fff;
      //   margin-bottom: 30px;
      //   box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
      //   box-sizing: border-box;
      //   //min-height: 638px;
      //   //height: 31.74vw;

      //   @media #{$tablet-s} {
      //     margin-bottom: 3.28vw;
      //     border-radius: 30px;
      //   }

      //   &:last-child {
      //     margin-bottom: 0;
      //   }

      //   &:nth-child(odd) {
      //     .post-info-holder {
      //       padding: 32px 18px 15px;

      //       @media #{$tablet-s} {
      //         padding: 6.96vw;
      //         padding-left: 6vw;
      //         padding-right: 4vw;
      //       }

      //       @media #{$tablet-xl} {
      //         padding-left: 9.45vw;
      //         padding-right: 6.96vw;
      //       }
      //     }
      //   }

      //   &:nth-child(even) {
      //     .post-image {
      //       @media #{$tablet-s} {
      //         order: 1;
      //       }
      //     }

      //     .post-info-holder {
      //       padding: 32px 18px 15px;

      //       @media #{$tablet-s} {
      //         padding: 6.96vw;
      //         padding-left: 4vw;
      //         padding-right: 6vw;
      //       }

      //       @media #{$tablet-xl} {
      //         padding-left: 6.96vw;
      //         padding-right: 9.45vw;
      //       }
      //     }
      //   }

      //   .post-image {
      //     width: 100%;
      //     padding-top: 56%;
      //     position: relative;
      //     background-color: $dark-blue;

      //     @media #{$tablet-s} {
      //       padding-top: 0;
      //       width: 39.5%;
      //     }

      //     img {
      //       @include cropped-img();
      //     }

      //     .pills-holder {
      //       position: absolute;
      //       bottom: 16px;
      //       right: 12px;

      //       @media #{$tablet-s} {
      //         bottom: 20px;
      //         right: 22px;
      //       }
      //     }
      //   }

      //   .post-info-holder {
      //     box-sizing: border-box;
      //     width: 100%;

      //     @media #{$tablet-s} {
      //       width: 60.5%;
      //     }

      //     .post-info-header {
      //       margin-bottom: 17px;

      //       @media #{$tablet-s} {
      //         margin-bottom: 60px;
      //       }

      //       .post-title {
      //         @include title-4();
      //         margin-bottom: 6px;

      //         @media #{$tablet-s} {
      //           margin-bottom: 0;
      //         }
      //       }

      //       .post-date {
      //         @include text-2();
      //       }
      //     }

      //     .post-excerpt {
      //       @include text-1();
      //     }

      //     .site-button {
      //       margin-top: 25px;
      //       width: 100%;

      //       @media #{$tablet-s} {
      //         width: 15vw;
      //       }
      //     }
      //   }
      // }
    }

    .posts-pagination {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 4rem;

      .button-circle {
        min-width: 50px;
        max-width: 50px;
        min-height: 50px;
        max-height: 50px;
      }

      .next-prev-page {
        cursor: pointer;
        display: flex;
        align-items: center;

        span {
          @include text-1();
          color: #fff;
          display: none;

          @media #{$tablet-s} {
            display: block;
          }
        }

        &.next-page {
          .button-circle {
            margin-left: 4rem;

            img {
              transform: rotate(180deg);
            }
          }
        }

        &.prev-page {
          .button-circle {
            margin-right: 4rem;
          }
        }
      }

      .posts-pages {
        ul {
          display: flex;
          align-items: center;
          justify-content: center;

          li {
            cursor: pointer;
            margin: 0 5px;
            width: 10px;
            height: 10px;
            background-color: $dark-blue;
            opacity: 0.4;
            border-radius: 50%;
            &.active {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
