.single-post-page-container {
  overflow: hidden;
  background-color: #f0f0f0;
  .hero-section {
    height: 70vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    position: relative;

    @media screen and (max-width: 768px) {
      height: 500px;
    }
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.25);
      z-index: 1;
      pointer-events: none;
    }
    .section-background {
      @include cropped-img();
      z-index: 0;
    }

    .section-content {
      z-index: 2;
      position: relative;
      text-align: center;
      padding: 0 $gutter;
      .section-title {
        @include title-2();
        color: #fff;
        margin-bottom: 20px;
      }

      .section-description {
        @include text-1();
        color: #fff;
      }
    }
  }

  .post-editor-section {
    padding: $spacer $gutter 4rem;

    .editor {
      max-width: 1200px;
      margin: auto;
      text-wrap: initial;
      h1 {
        @include title-2();
        &:not(:first-child) {
          margin: 2rem 0 1rem;
        }
      }

      h2 {
        @include title-3();
        &:not(:first-child) {
          margin: 2rem 0 1rem;
        }
      }

      h3 {
        @include title-4();
        &:not(:first-child) {
          margin: 2rem 0 1rem;
        }
      }

      h4 {
        @include title-4();
        &:not(:first-child) {
          margin: 2rem 0 1rem;
        }
        line-height: 1.2;
      }

      h5 {
        @include title-5();
        font-family: "Fredoka", sans-serif;
        &:not(:first-child) {
          margin: 2rem 0 1rem;
        }
      }

      h6 {
        @include text-1();
        &:not(:first-child) {
          margin: 2rem 0 1rem;
        }
      }

      li,
      p,
      a {
        @include text-1();
      }

      p {
        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      }

      ul {
        list-style-type: disc;
        padding-left: 25px;

        li {
          &::marker {
            color: $dark-blue;
          }
        }
      }

      ol {
        counter-reset: number;
        list-style-type: none;
        margin-bottom: 15px;

        li {
          position: relative;
          padding-left: 40px;
          margin-bottom: 20px;

          &:last-of-type {
            margin-bottom: 0;
          }

          &:before {
            @include text-1();
            counter-increment: number;
            content: counter(number, decimal-leading-zero);
            color: $dark-blue;
            position: absolute;
            top: 1px;
            left: 0;
            opacity: 1;
          }
        }
      }

      img {
        max-width: 100%;
        height: auto;
        border-radius: 20px;
        width: auto;
        height: auto;

        &.alignleft {
          &:not(.size-full):not(.size-large) {
            float: left;
            margin-right: 15px;
          }
        }

        &.aligncenter {
          position: relative;
          left: 50%;
          transform: translateX(-50%);
        }

        &.alignright {
          &:not(.size-full):not(.size-large) {
            float: right;
            margin-left: 15px;
          }
        }
      }
    }
  }

  .share-section {
    padding: 0 $gutter;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    .section-content {
      border: solid 2px $dark-blue;
      border-radius: 15px;
      padding: 1rem 2rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      max-width: 1200px;
      box-sizing: border-box;
      margin: 0 auto;
      p {
        @include title-4();
        width: 100%;
        text-align: center;
        margin: 0 0 1rem;
        @media #{$tablet-s} {
          text-align: left;
          width: auto;
          margin: 0;
        }
      }
      //Add to any plugin
      .addtoany_shortcode {
        width: 100%;
        text-align: center;

        @media #{$tablet-s} {
          width: auto;
          text-align: left;
        }

        .addtoany_list {
          line-height: 1 !important;
          a {
            padding: 0;
            margin: 0 7px;

            &:hover {
              span {
                background-color: $dark-blue !important;
              }
            }

            span {
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50% !important;
              opacity: 1;
              @include transition();

              min-width: 46px;
              max-width: 46px;
              min-height: 46px;
              max-height: 46px;

              svg {
                //mobile fix
                width: 46px;
                height: 46px;
                //mobile fix END

                max-width: 28px;
                //max-height: 25px;

                @media #{$tablet-s} {
                  max-width: 35px;
                }

                @media #{$desktop-m} {
                  max-width: 45px;
                }

                path {
                  @include transition();
                }
              }
            }
          }
        }
      }
      //Add to any plugin END
    }
  }

  .similar-posts-section {
    position: relative;

    .section-content {
      padding: $spacer $gutter;
      box-sizing: border-box;
      text-align: center;

      .swiper-wrapper {
        justify-content: center;

        @media screen and (max-width: 768px) {
          justify-content: flex-start;
        }
      }
      .section-title {
        @include title-2();
        margin-bottom: 2rem;
      }

      .swiper-slide {
        height: auto;
        .slide-content {
          height: 100%;
          display: flex;
          width: 100%;
          flex-direction: column;
          .tmplt-part-post {
            display: flex;
            flex-direction: column;
            height: 100%;
            .post-title {
              height: 100%;
            }
          }
        }
      }

      .slider-buttons {
        display: flex;
        align-items: center;
        justify-content: center;

        .cards-swiper-button {
          margin: 2rem 0.5rem 0;
        }
        .cards-swiper-button-prev {
          transform: rotate(180deg);
        }
      }
    }
    // .section-content {
    //   box-sizing: border-box;

    //   .section-title {
    //     @include title-2();
    //     color: #fff;
    //     text-align: center;
    //   }

    //   .posts {
    //     .slider-buttons {
    //       display: flex;
    //       align-items: center;
    //       justify-content: center;
    //       margin-top: 30px;
    //       box-sizing: border-box;

    //       .cards-swiper-button {
    //         box-shadow: 0 0 6px rgba(#000, 10%);

    //         &.cards-swiper-button-prev {
    //           margin-right: 40px;

    //           img {
    //             transform: rotate(180deg);
    //           }
    //         }
    //       }
    //     }
    //   }
    // }
  }
}
