.tmplt-part-hero {
  height: 70vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  position: relative;
  @media screen and (max-width: 768px) {
    height: 500px;
  }
  // &::before {
  //   content: "";
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-color: rgba(0, 0, 0, 0.25);
  //   z-index: 1;
  //   pointer-events: none;
  // }
  .section-background {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    img,
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      flex-shrink: 0;
    }

    .hero-swiper-pagination {
      position: absolute;
      bottom: 2rem;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      z-index: 2;

      .swiper-pagination-bullet {
        background-color: rgba(255, 255, 255, 0.5);
        opacity: 1;
        width: 10px;
        height: 10px;
        &-active {
          background-color: #fff;
        }
      }
    }
  }

  .section-content {
    z-index: 2;
    position: relative;
    text-align: center;
    padding: 0 $gutter;
    .section-title {
      @include title-1();
      color: #fff;
      margin-bottom: 20px;
    }

    .section-description {
      @include text-1();
      color: #fff;
    }
  }
}
